body {
    margin: 0;
    margin-top: 50px;
}

h1,
#projects, 
#skills, 
#contact {
    text-align: center;
}

#nav, #sm-nav {
    list-style-type: none;
    float: right;
}

#nav li, #sm-nav li {
    display: inline;
}

#navbar {
    background: #eee;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

#navbar p {
    display: inline-block;
    visibility: hidden;
}

#welcome-section {
    height: 100vh;
    background-color: #c1c1c1;
}

#introduction {
    width: 530px;
    height: 312px;
    position: absolute;
    top: 35%;
    left: 25%;
    background: url('http://res.cloudinary.com/mtninja/image/upload/c_scale,h_312,w_530/v1531367704/portfolio-console_yrpuh0.png');
}

#project-grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#skills {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    margin: auto;
}

#footer {
    background: #eee;
}

#trademark {
    display: inline-block;
}

.project-tile {
    width: 30%;
    margin: 1.25% 1.665%;
    height: 47.5%;
}

.project-tile img {
    max-width: 100%;
    display: block;
    height: auto;
}

.fa-html5:hover {
    color: #E34F26;
    transform: scale(1.2);
}

.fa-css3-alt:hover {
    color: #1758A7;
    transform: scale(1.2);
}

.fa-js:hover {
    color: #F0DB4F;
    transform: scale(1.2);
}

.fa-php:hover {
    color: #6C7EB7;
    transform: scale(1.2);
}

.fa-wordpress:hover {
    color: #01579B;
    transform: scale(1.2);
}

.fa-github-square:hover {
    color: #0D2636;
    transform: scale(1.2);
}