/**
**  GENERAL
**/

body {
  margin: 0;
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  position: absolute;
  color: #fff;
  font-weight: 400;
}

h1,
h2,
#nav li {
  font-family: "Ubuntu", sans-serif;
}

#projects,
#skills,
#contact {
  text-align: center;
}

#nav a:hover,
a:hover {
  color: #b2aa20;
}

#nav-container,
#projects-inner,
#contact {
  max-width: 1280px;
  margin: auto;
}

/**
**  NAVIGATION
**/

#navbar {
  background: #20b2aa;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#navbar p {
  display: inline-block;
  visibility: hidden;
}

#nav {
  list-style-type: none;
  float: right;
  padding-right: 50px;
}

#nav li {
  display: inline;
  margin-right: 15px;
  font-size: 1.1em;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

/**
**  WELCOME
**/

#welcome-section {
  height: 100vh;
  background-color: #20b2aa;
  display: flex;
  justify-content: center;
}

#introduction {
  width: 530px;
  height: 312px;
  margin-top: 25%;
  color: #fff;
  font-family: "Ubuntu Mono", monospace;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.56);
  background: url("https://res.cloudinary.com/mtninja/image/upload/c_scale,h_312,w_530/v1531367704/portfolio-console_yrpuh0.png");
}

#introduction p {
  padding: 20px 10px 0px 10px;
}

#introduction li {
  padding-right: 15px;
  margin-bottom: 1.5%;
}

#console-name {
  color: #dbdbbd;
}

#console-intro {
  color: #68689d;
}

#console-list {
  color: #bdbddb;
}

#cursor {
  height: 11px;
  width: 6px;
  background-color: #fff;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

/**
**  PROJECTS/SKILLS
**/

#projects {
  /*background: url('http://res.cloudinary.com/mtninja/image/upload/v1531451394/small_steps_ulmqg5.png');*/
  background-color: #efefef;
  box-shadow: 0px 0px 5px black;
}

#projects-inner {
  padding: 20px 0;
}

#projects-inner h2 {
  margin-top: 0;
}

#project-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

#skills {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin: auto;
}

/**
**  CONTACT
**/

#contact {
  padding: 100px 0 150px 0;
}

#contact-menu {
  list-style-type: none;
  width: 30%;
  margin: auto;
  text-align: left;
  padding-left: 7%;
}

#contact-menu li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

#cc-link:hover {
  opacity: 0.75;
}

#cc-link img {
  position: relative;
  top: 10px;
}

/**
**  FOOTER
**/

#footer {
  background: #aa20b2;
  text-align: center;
}

#trademark {
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
}

/**
**  CLASSES
**/

.console-arrow {
  color: #fff;
}

.project-tile {
  width: 30%;
  height: auto;
  margin: 1.25% 1.665%;
}

.project-tile h3,
.project-tile p {
  margin: 0;
}

.project-preview {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56);
  border-radius: 2px;
  margin-bottom: 10px;
}

.project-preview img {
  max-width: 100%;
  display: block;
  height: auto;
}

.project-preview:hover {
  opacity: 0.85;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.56);
}

.project-info {
  text-align: left;
  padding: 0 10px;
}

.technologies {
  font-style: italic;
  padding-bottom: 5px;
}

.certification {
  background-color: #b2aa20;
  width: 50%;
  margin: 40px auto;
  border-radius: 4px;
}

.certification a {
  text-decoration: none;
  color: #000;
}

.certification a:hover {
  color: #eee;
}

.certification h3 {
  padding: 20px 40px;
  height: 100%;
}

.cert-inactive {
  background-color: #20b2aa;
  color: #fff;
  opacity: 0.85;
}

.icon-text {
  margin: 10px 0px;
  color: #616161;
}

/* icon hover styles */
.fa-html5:hover {
  color: #e34f26;
  transform: scale(1.2);
}

.fa-css3-alt:hover {
  color: #1758a7;
  transform: scale(1.2);
}

.fa-sass:hover {
  color: #febe89;
  transform: scale(1.2);
}

.fa-js:hover {
  color: #f0db4f;
  transform: scale(1.2);
}

.fa-react:hover {
  color: #8ad4df;
  transform: scale(1.2);
}

.fa-php:hover {
  color: #6c7eb7;
  transform: scale(1.2);
}

.fa-wordpress:hover {
  color: #01579b;
  transform: scale(1.2);
}

.fa-github-square:hover {
  color: #0d2636;
  transform: scale(1.2);
}

/* hr styles */

hr.style-two {
  border: 0;
  height: 1px;
  margin: 40px 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/**
**  MEDIA QUERIES
**/

@media screen and (min-width: 1281px) {
  #introduction {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  #skills {
    width: 80%;
  }

  #contact-menu {
    padding-left: 3%;
  }

  .certification {
    width: 60%;
  }
}

@media screen and (max-width: 799px) {
  #contact-menu {
    width: 60%;
    padding-left: 25%;
  }

  .certification {
    width: 75%;
  }
}

@media screen and (max-width: 499px) {
  #welcome-section {
    padding: 0 20px;
  }

  #introduction {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0.85em;
    padding: 5px;
  }

  #skills {
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #contact-menu {
    width: 80%;
    padding-left: 15%;
  }

  .project-tile {
    width: 45%;
    margin: 1.25% 2.5%;
  }

  .certification {
    width: 65%;
  }
}
